.login {
    display: grid;
    padding: 10% 10px;
    justify-content: center;
}

.login fieldset{
    display: grid;
    padding: 10% 10px;
    justify-content: center;
    
}

.login h1{
    text-align: center;
    padding-bottom: 15px;
    color: rgb(77, 160, 160);
    font-family: sans-serif;
}

.login input{
    padding: 10px 10px;
    margin-top: 15px;
    border-radius: 5px;
    width: 350px;
}

.login hr {
    margin-top: 25px;
    color: rgb(77, 160, 160);
}

.login button{
    margin-top: 20px;
    padding: 8px 8px;
    border-radius: 10px;
    border-color: grey;
    font-size: 25px;
    background-color: rgb(77, 160, 160);
    color: aliceblue;
    font-family: sans-serif;
}

.login button:hover{
    margin-top: 20px;
    padding: 8px 8px;
    border-radius: 10px;
    border-color: grey;
    font-size: 25px;
    background-color: rgb(48, 125, 125);
    color: aliceblue;
    font-family: sans-serif;
}

.login a {
    text-decoration: underline;
    text-align: end;
    padding-top: 20px;
    font-size: 20px;
    color: red;
}

.login a:hover {
    text-decoration: underline;
    text-align: end;
    padding-top: 20px;
    font-size: 20px;
    color: blue;
}