.login {
    display: grid;
    padding: 10% 10px;
    justify-content: center;
}

.login input {
    padding: 7px 8px;
    margin-top: 10px;
    border-radius: 5px;
}

.login button{
    margin-top: 10px;
    color: white;
    background-color: rgb(95, 95, 171);
    padding: 15px;
    border-radius: 15px;
    border-color: black;
    font-family: sans-serif;
    font-size: 20px;
}

.login button:hover{
    margin-top: 10px;
    color: white;
    background-color: green;
    padding: 15px;
    border-radius: 15px;
    border-color: green;
    font-family: sans-serif;
    font-size: 20px;
}

.login a {
    text-decoration: underline;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    color: blue;
}

.login a:hover {
    text-decoration: underline;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    color: red;
}